<launch> 
    <arg name="number_of_tofs" default="2"/>  <!-- Modify here the number of tof and add the proper section below -->
    <arg name="frame_id" default="world"/>

    <include file="$(find read_raw_tof_pointcloud)/launch/read_tof.launch">
        <arg name="number_of_tofs" value="$(arg number_of_tofs)"/>
    </include>

    <!-- tof n1 -->
    <include file="$(find tof_to_pointcloud)/launch/tof_to_pointcloud_and_transform.launch">
        <arg name="tof_id" value="1"/>
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="frame_id" value="$(arg frame_id)"/>
    </include>

    <!-- tof n2 -->
    <include file="$(find tof_to_pointcloud)/launch/tof_to_pointcloud_and_transform.launch">
        <arg name="tof_id" value="2"/>
        <arg name="x" value="1"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="frame_id" value="$(arg frame_id)"/>
    </include>
    
    <!-- tof n...  -->


    <!-- Launch RViz per la visualizzazione -->
    <node name="rviz_tof" pkg="rviz" type="rviz" args="-d $(find tof_to_pointcloud)/config/tofTopcd.rviz" />
</launch>
