<launch>
    <arg name="number_of_tofs" default="2" />  <!-- Modify here the number of tof and add the proper
    section below -->
    <arg name="frame_id" default="world" />
    <arg name="rviz" default="true" />
    <arg name="continuous_mode" default="false" />
    <arg name="tof_simulated" default="false" />

    <!-- tof n1 args-->
    <arg name="x_1" value="0" />
    <arg name="y_1" value="-0.0265" />
    <arg name="z_1" value="0.0234" />
    <arg name="qx_1" value="0.0" />
    <arg name="qy_1" value="0.0" />
    <arg name="qz_1" value="0.0" />
    <arg name="qw_1" value="1.0" />
    <!-- tof n2 args-->
    <arg name="x_2" value="0" />
    <arg name="y_2" value="0.0265" />
    <arg name="z_2" value="0.0234" />
    <arg name="qx_2" value="0.0" />
    <arg name="qy_2" value="0.0" />
    <arg name="qz_2" value="1.0" />
    <arg name="qw_2" value="0.0" />

    <!-- read from usb port if is not simulated -->
    <group unless="$(arg tof_simulated)">
        <include file="$(find read_raw_tof_pointcloud)/launch/read_tof.launch">
            <arg name="number_of_tofs" value="$(arg number_of_tofs)" />
        </include>
    </group>

    <!-- So far I can simulate just one sensor -->

    <!-- tof n1 -->
    <include file="$(find tof_to_pointcloud)/launch/tof_to_pointcloud_and_transform.launch">
        <arg name="tof_id" value="1" />
        <arg name="x" value="$(arg x_1)" />
        <arg name="y" value="$(arg y_1)" />
        <arg name="z" value="$(arg z_1)" />
        <arg name="qx" value="$(arg qx_1)" />
        <arg name="qy" value="$(arg qy_1)" />
        <arg name="qz" value="$(arg qz_1)" />
        <arg name="qw" value="$(arg qw_1)" />
        <arg name="frame_id" value="$(arg frame_id)" />
        <arg name="continuous_mode" value="$(arg continuous_mode)" />
        <arg name="tof_simulated" value="$(arg tof_simulated)" />
    </include>

    <!-- tof n2 -->
    <group if="$(eval number_of_tofs == 2)">
        <include file="$(find tof_to_pointcloud)/launch/tof_to_pointcloud_and_transform.launch">
            <arg name="tof_id" value="2" />
            <arg name="x" value="$(arg x_2)" />
            <arg name="y" value="$(arg y_2)" />
            <arg name="z" value="$(arg z_2)" />
            <arg name="qx" value="$(arg qx_2)" />
            <arg name="qy" value="$(arg qy_2)" />
            <arg name="qz" value="$(arg qz_2)" />
            <arg name="qw" value="$(arg qw_2)" />
            <arg name="frame_id" value="$(arg frame_id)" />
            <arg name="continuous_mode" value="$(arg continuous_mode)" />
        </include>
    </group>

    <!-- tof n...  -->


    <!-- Launch RViz per la visualizzazione -->
    <node if="$(arg rviz)" name="rviz_tof" pkg="rviz" type="rviz"
        args="-d $(find tof_to_pointcloud)/config/tofTopcd.rviz" />
</launch>