<launch>
    <!-- Definisci il parametro con un valore di default e aggiungi una descrizione -->
    <arg name="frame_id" default="world" doc="Define the parent tf of the tof frame!"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    
    <!-- Includi il file child.launch e passa il parametro -->
    <include file="$(find tof_to_pointcloud)/launch/publish_tof_pc.launch">
        <arg name="frame_id" value="$(arg frame_id)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tof_to_pointcloud)/config/tofTopcd.rviz" />
</launch>
