<launch>
    <arg name="num_measurements" default="50" />
    <arg name="distance" default="0.3" />
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    
    <arg name="frame_id" default="world" doc="Define the parent tf of the tof frame!"/>

    <node pkg="generate_tof_map" name="generate_tof_map_node" type="main.py" output="screen"/>
    
    <include file="$(find tof_to_pointcloud)/launch/visualize_tof_pc.launch">
        <arg name="frame_id" value="$(arg frame_id)"/>
    </include>

    <node pkg="tof_characterization" name="tof_characterization_node" type="tof_characterization" output="screen">
        <param name="num_measurements" value="$(arg num_measurements)" />
        <param name="distance" value="$(arg distance)" />
    </node>

</launch>
