<launch>
    <arg name="num_measurements" default="50" />
    <arg name="distance" default="0.3" />

    <node pkg="generate_tof_map" name="generate_tof_map_node" type="main.py" output="screen"/>
    <node pkg="tof_to_pointcloud" name="tof_to_pointcloud_node" type="tof_to_pointcloud" output="screen"/>

    <node pkg="read_raw_tof_pointcloud" name="read_raw_tof_pointcloud" type="read_raw_tof_pointcloud.py" output="screen"/>
    <!-- <node pkg="tf" type="static_transform_publisher" name="my_static_tf_publisher" args="0 0 0 0 0 0 world tof_frame 10"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tof_to_pointcloud)/config/tofTopcd.rviz" /> -->

    <node pkg="tof_characterization" name="tof_characterization_node" type="tof_characterization" output="screen">
        <param name="num_measurements" value="$(arg num_measurements)" />
        <param name="distance" value="$(arg distance)" />
    </node>

    
</launch>
